.fact {

}

.fact__input {
    background-color: var(--color-dark-bg);
    outline: none;
    border: none;
    height: 2.5rem;
    caret-color: var(--color-green);
    padding-left: 0.5rem;
    margin-left: 1.5rem;
    color: var(--color-green);
    font-size: var(--size-m);
    letter-spacing: 2px;
}

.fact__form {
    display: inline-block;
}

.fact__icon {
    color: var(--color-green);
    display: inline-block;
    margin-left: 1.5rem;
}

.fact__icon.fact__icon_animated {
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: all 2s linear;
}

@keyframes blink {
    0% {
        color: var(--color-green);
        transform: rotate(-30deg);
        opacity: 1
    }
    50% {
        color: var(--color-white);
        transform: rotate(30deg);
        opacity: 0.5;
    }
    100% {
        color: var(--color-green);
        transform: rotate(-30deg);
        opacity: 1;
    }
}
