.layout {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.layout__main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.layout__code {
    border-right: 1px solid var(--color-separator);
    width: 50vw;
}

.layout__header {
    /* border: 1px solid var(--color-separator); */
}

.layout__box {
    flex: 1 0 auto;
    display: flex;
}

.layout__main {
    /* border: 1px solid var(--color-separator); */
}

.layout__preview {
    width: 50vw;
}
